<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.EzzalddeenAli.utilsx">


    <application
>


        <!--display the contact list-->
        

      <!--display the user profile-->


        <activity android:name="org.kingtec.utils.Base.SingleFragmentActivity" />
    </application>
</manifest>
